/* if you want the circle button big this is the style & tg */
/* .btn-circle.btn-xl {
            width: 70px;
            height: 70px;
            padding: 10px 16px;
            border-radius: 35px;
            font-size: 12px;
            text-align: center;
        }  */
body {
  padding-top: 25%;
}
#menu-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 20%;
  height: 12.5%;
}

/* if you want the circle button medium this is the style & tg */
.btn-circle.btn-md {
  /* position: relative; */
  width: 80%;
  height: 80%;
  /* padding: 7px 10px; */
  border-radius: 50%;
  font-size: 3rem;
  text-align: center;
}

/* this is if you want the bottom circle button to be small */
/* .btn-circle.btn-sm {
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            font-size: 8px;
            text-align: center;
        } */

.navbarhead {
  height: 12.5%;
  background: #ecfcff;
  font-size: 100%;
}

.carrot {
    color: #f88020;
}

.navbarhead > a {
  font-size: 3rem;
  font-family: 'Damion', cursive;
  font-weight: 200;
}

.navbar-brand {
    color: white;
}

.dark-blue-bg {
  background: #5edfff;
}

#menu-options {
  position: fixed;
  right: 20%;
  bottom: 18%;
  /* width: 25%; */
  /* height: 25%; */
}

#menu-option1 {
    position: fixed;
    right: 28%;
    bottom: 11%;
}

.menu-options {
    color: black;
    font-size: xx-large;
    font-weight: 700;
    border-radius: 10%;
    width: 15rem;
    height: 4rem;
    background: #b2fcff;
}

.circle-responsive {
    background: #5edfff;
    border-radius: 50%;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
  }

  #centerplus {
      padding-top: 50%;
  }

  .main-page-header {
    height: 5.5rem;
    font-size: 3rem;
  }

  .bg-lightgrey {
    background: #eae9e9;
  }

  .habit-option {
    font-size: 1.5rem;
  }